.call__btn {
    padding-left: 16.8rem;
    background: #F3F3F7;
    border-radius: 2.8rem;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #696F7A;
}