.deliviry {
    padding: 0.5rem 0 0 8rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #231F20;
    & span {
        color: #FF2E65;
    }
}