.work {
    padding: 0 0 2.4rem;
    span {
        padding: 0 0 0.7rem 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #0E0C0D;
    }
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #0E0C0D;
    }
}