.user {
    width: 9.8rem;
    height: 13.7rem;
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: #9D9D9B;
    }
}