.swiper-slide-active {
  width: 111rem;
  height: 40.9rem;
  border-radius: 1.3rem;
  filter: drop-shadow(0 0.4rem 2.4rem rgba(0, 0, 0, 0.26));
}
html {
  overflow-x: hidden
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide-next,
.swiper-slide-prev {
  width: 85.9rem;
  height: 37.6rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
  border-radius: 1.3rem;
  opacity: 0.5;
}

.swiper-slide-next img,
.swiper-slide-prev img,
.swiper-slide-active img {
  object-fit: cover;
}

.swiper {
  overflow: visible;
}