.image {
    position: relative;
    top: -2.8rem;
    height: 7.7rem;
    width: 7.7rem;
    padding: 1.7rem 1.7rem 0 1.7rem;
    border-radius: 50%;
    background: #FFFFFF;
    align-self: center;
}