@mixin font ($weight, $size, $height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin vercen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin maxWindtn {
    display: flex;
    justify-content: space-between;
}

@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}