*,
*::after,
*::before {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-size: 0.6945vw;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

body {

  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  // color: $color-text-black;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  // color: $color-text-black;
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: inherit;
  }

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
  text-rendering: auto;
}

ul {
  padding: 0;
  margin: 0;

  li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.container {
  width: 111rem;
  margin: 0 auto;
}
.container2 {
  width: 121rem;
  margin: 0 auto;
}

hr {
  border: 0.2rem solid #E7EAEF;
  background-color: #E7EAEF;
}

@media (max-width: 48em) {
  html {
    font-size: 1.20773vw;
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 2.7rem;
    width: 100%;
  }
  .container2 {
    padding: 0 0.5rem 0 1.5rem;
    width: 100%;
  }
}